.title-medium {
    font-size: 2.65rem;
    line-height: 1.29em;
    font-family: $mulish;
}

.text {
    font-size: 1.06rem;
    line-height: 1.5em;
    color: $grey;
}

.text-icon {
    font-size: 1.06rem;
    line-height: 1.5em;
    position: relative;

    & img {
        position: absolute;
        left: 18px;
        top: 50%;
        width: 1.35rem;
        height: 1.5rem;
        object-fit: contain;
        transform: translateY(-50%);
    }

    & span {
        padding: 0 1.177rem 0 3.06rem;
        display: inline-block;
    }
}


.bigcontainer {
    max-width: 1464px;
    padding: 0 12px;
    margin: 0 auto;
    
    @media(max-width:1464px) {
        max-width: none;
        width: 100%;
    }
    
    @media(max-width:$md3){
        padding: 0 15px;
    }
}
