$mw: 1200px;
$fontfamily:'Inter', sans-serif;
$fontsize: 17px;
$color: #1C2752;
$bgcolor: #F5F5F5;

$md1: $mw + 12px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;

$mulish: 'Mulish', sans-serif;

$yellow: #FFB342;
$blue: #1C2752;
$grey: #7E7E7E;