$mw: 1200px;
$fontfamily:'Russo One', sans-serif;
$fontsize: 14px;
$color: #1C2752;
$bgcolor: #fff;

$md1: $mw + 12px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;


$yellow: #FFB342;
$blue: #1C2752;
$grey: #7E7E7E;