//* import shrifts and parts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Mulish&display=swap');

@import "parts/nullstyle.scss";
@import "parts/vars.scss";
@import 'parts/helpers.scss';

//* main styles

.container{ margin: 0 auto; max-width: $mw;
	@media(max-width:$md1){max-width: 970px;};
	@media(max-width:$md2){max-width: 750px;};
	@media(max-width:$md3){max-width: none; padding: 0px 15px;};
}

html{
	font-size: $fontsize;
	@media(max-width:$md1){
		font-size: $fontsize - 1px;
	}
	
	@media(max-width:$md2){
		font-size: $fontsize - 2px;
	}
	
	@media(max-width:$md3){
		font-size: $fontsize - 3px;
	}
}

body{
	font-family: $fontfamily;
	color: $color;
    background-color: $bgcolor;
	letter-spacing: 0.0212rem;
	
	&.lock{
		overflow: hidden;
	}
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
}

//* parts of scss

@import 'parts/header.scss';
@import 'parts/home.scss';
@import 'parts/about.scss';
@import 'parts/services.scss';
@import 'parts/area.scss';
@import 'parts/choose.scss';
@import 'parts/projects.scss';
@import 'parts/contact.scss';
